/node_modules
/public/hot
/public/storage
/public/media
/public/adminer/error*
/public/uploads
/storage/*.key
/vendor
/vendor.*
/*.tar.gz
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
backup*.*
backup.*
